@import "tailwindcss";

@theme {
  --color-yt-black: #030303;
  --color-yt-gray: #0f0f0f;
  --color-yt-light-gray: #212121;
  --color-yt-text-primary: #f1f1f1;
  --color-yt-text-secondary: #aaaaaa;
  --color-yt-red: #ff0000;
}

:root {
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--color-yt-text-primary);
  background-color: var(--color-yt-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden; /* App-like feel, manage scroll in sub-containers */
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #606060;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #909090;
}
